*.pyc
*.p
*.pt
*.pth
*.gz
*.tmp
*.pdf
*.docx
*.pptx
.DS_Store
temp.*
temp_*

/.ipynb_checkpoints/*
/.vscode/*
/experiments/*

/data/*
/gen_data/*

/指导记录
/答辩材料
/答辩相关附件（发布版）
/Self-Attentive Sequential Recommendation（翻译）

