*.pyc
*.p
*.pt
*.pth
*.gz
*.tmp
*.pdf
*.docx
*.pptx
*.gz
.DS_Store
temp.*
temp_*
temp/*
fonts/*

/.ipynb_checkpoints/*
/.vscode/*
/experiments/*
/experiments.old/*
/batch_log*/*
/pics
*.npy
*.txt

/data/*
/gen_data/*
/gen_data.old/*

/指导记录
/答辩材料
/答辩相关附件（发布版）
/Self-Attentive Sequential Recommendation（翻译）

